@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your CSS properties here */

/* CSS RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TOP NAV BAR STYLING */
.NavContainer {
  @apply bg-neutral-400 
    p-5 
    w-full
    h-[80px]
    flex 
    flex-row 
    justify-between
    items-center
    text-xl
    text-white;
}

/* NAV BAR LEFT BUTTON GROUP STYLING */
.ThreeNavButtons {
  @apply
    h-[40px] 
    flex 
    flex-row 
    w-auto 
    justify-between
    items-center
    min-w-[175px]
}

/* NAV BAR USER BUTTON STYLING */
.UserSettings {
  @apply
  flex
  flex-row
  justify-end
  items-center
  min-w-[175px]
  w-[175px]
  h-[40px]
}


/* SHADCN/UI COMPONENT STYLES: SITE COLOR THEME IN HSL FORMAT */
@layer base {
  :root {
    /* HSL COLOR PICKER */
    --colorpicker: hsl(210 40 98);
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 16px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
